# -*- CPERL -*-
#**********************************************************************
# Test cases for LaTeXML
#**********************************************************************
use LaTeXML::Util::Test;

# Upstream PGF/SVG goldens. Native containment is t/878_tikz.t.
latexml_tests("t/pgf",
	requires=>{
		stress_pgfmath=>{
			env => 'LATEXAI_PGF_SVG_ORACLE', packages=>'tikz.sty'},
		stress_pgfplots=>{
			env => 'LATEXAI_PGF_SVG_ORACLE', packages=>'pgfplots.sty'} });
